n8n-workflow.json
{
  "name": "Monday to Jira Sync",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "monday-jira",
        "responseMode": "responseNode",
        "options": {
          "rawBody": false
        }
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "monday-jira"
    },
    {
      "parameters": {
        "toolName": "create_issue",
        "toolDescription": "Create a Jira issue using the Jira MCP",
        "inputMapping": "={{ JSON.stringify({ project_key: $json.body.projectKey, summary: $json.body.summary, description: $json.body.description, issue_type: $json.body.issueType, labels: $json.body.labels }) }}"
      },
      "name": "Jira MCP - Create Issue",
      "type": "n8n-nodes-base.mcpClientTool",
      "typeVersion": 1,
      "position": [500, 300],
      "notes": "Connect this to your company's Jira MCP server. Configure the MCP credential to point to your Jira MCP endpoint. The tool name and parameters depend on your MCP server configuration — adjust as needed after testing."
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, jiraKey: $json.key || $json.issueKey || 'UNKNOWN', jiraUrl: 'https://wix.atlassian.net/browse/' + ($json.key || $json.issueKey || 'UNKNOWN') } }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type"
              }
            ]
          }
        }
      },
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [750, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Jira MCP - Create Issue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Jira MCP - Create Issue": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
